.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 80px;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  /* cursor: pointer; */
}

.services-format h2 {
  font-size: 38px;
  font-weight: 600;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format p {
  color: #d4d4d4;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}

.services-readmore {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.services-format:hover {
  border: 2px solid #da7c25;
  background-image: linear-gradient(267deg, #3f0028 0.36%, #582300 102.06%);
  transform: scale(1.05);
  transition: 0.4s;
}

@media (max-width: 768px) {
  .services {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }
  .services-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .services-title img {
    width: 130px;
    right: -20px;
  }
  .services-format{
    gap: 20px;
    padding: 32px;
  }
  .services-format h2{
    font-size: 28px;
  }
  .services-format p{
    font-size: 16px;
    line-height: 32px;
  }
  .services-readmore img{
    width: 20px;
  }
  .services-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}