.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 20px 170px;
}

/* .navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 10px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img{
  display: flex;
  margin: auto;
}

.anchor-link{
  text-decoration: none;
  color: inherit;
}